OPENROUTER_API_KEY=
OPENROUTER_MODEL=openrouter/auto
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_BASE_URL="https://cloud.langfuse.com"

TELEGRAM_TOKEN=

SQLITE_DB_PATH=data/database.sqlite

